{% extends 'base.html' %}
{% load static %}

{% block title %}Добавление нового института{% endblock %}
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
	<script src="https://cdn.tiny.cloud/1/x9fbifsbf9wgj1k6nbzyfyhabvwcsb9ewleh0lajmfbfnvip/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}	
{% block content %}
	{% include "navbar.html" %}
	{% include "moderators/moder_navbar.html" %}
	<div class="place_form main_plate plates_home container-custom plate-container">
		<div class="decorate_form plates col-lg-12 col-sm-12 col-md-12 col-xs-12">
			<form class="form_all" action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="Intoform col-lg-12 col-sm-12 col-md-12 col-xs-12">
					<div class="First plates col-lg-4 col-sm-4 col-md-4 col-xs-4">
						<br>
						<label class="labels_for_form" for="inst_name">Название института:</label>
						{{form.name}}
						<br>
						<label class="labels_for_form" for="numberInput">Количество сотрудников:</label>
						{{form.employees_count}}
						<br>
						<label class="labels_for_form" for="numberInput2">Количество учёных:</label>
						{{form.scientist_count}}
						<br>
						<label class="labels_for_form" for="chairman">Ф.И.О. председателя:</label>
						{{form.chairman}}
						<br>
						<label class="labels_for_form" for="institute_link">Ссылка на сайт:</label>
						{{form.link}}
						<br>
						<label class="labels_for_form" for="smu_link">Ссылка на СМУ:</label>
						{{form.smu_link}}
						<br>
					</div>
					<div class="Second plates col-lg-7 col-sm-7 col-md-7 col-xs-7">
						<br>
						<label class="labels_for_form" for="description">Описание:</label>
						{{form.description}}
						<br>
						<label class="labels_for_form" for="imageInput">Изображение Института:</label>
						  <!-- <script>
							function checkImageSize(input) {
							  if (input.files && input.files[0]) {
								var reader = new FileReader();

								reader.onload = function(e) {
								  var image = new Image();
								  image.src = e.target.result;

								  image.onload = function() {
									if (this.height > 200 || this.width > 300) {
									  alert("Высота фотографии не должна превышать 200px, а ширина 300px.");
									  input.value = ""; // очистить поле ввода, чтобы была возможность выбрать другой файл
									}
								  };
								};

								reader.readAsDataURL(input.files[0]);
							  }
							}
						</script> -->
						{{form.img}}
						<br>
					</div>
<!--					<div class="First plates col-lg-4 col-sm-4 col-md-4 col-xs-4">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="inst_name">Название института:</label>-->
<!--						<input class="input_for_form" type="text" id="inst_name" name="grant_name">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="numberInput">количество сотрудников:</label>-->
<!--						<input type="number" class="input_for_form" id="numberInput" placeholder="Введите число" min="0">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="numberInput2">количество сотрудников:</label>-->
<!--						<input type="number" class="input_for_form" id="numberInput2" placeholder="Введите число" min="0">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="chairman">Ф.И.О. председателя:</label>-->
<!--						<input type="text" class="input_for_form" id="chairman" name="Chairman">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="institute_link">Ссылка на сайт:</label>-->
<!--						<input class="input_for_form" type="url" id="institute_link" name="grant_link">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="smu_link">Ссылка СМУ:</label>-->
<!--						<input class="input_for_form" type="url" id="smu_link" name="grant_link">-->
<!--						<br>-->
<!--					</div>-->
<!--					<div class="Second plates col-lg-7 col-sm-7 col-md-7 col-xs-7">-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="description">Описание:</label>-->
<!--						<textarea class="textarea m-1 col-lg-12 col-sm-12 col-md-12 col-xs-12" id="description" name="description"></textarea>-->
<!--						<br>-->
<!--						<label class="labels_for_form" for="imageInput">Изображение Института:</label>-->
<!--						<input class="input_for_form_img" type="file" id="imageInput" name="image" accept=".jpg, .jpeg, .png">-->
<!--						<br>-->
<!--					</div>-->
				</div>
				<input class="submit_all labels_for_form plates col-lg-2 col-sm-2 col-md-2 col-xs-2" type="submit" value="Опубликовать">
			</form>
		</div>
	</div>
	{% include "footer.html" %}

{% endblock %}