	<div class="plates_home container-custom plate-container">
		<div class="Navbar_Moder plates col-lg-12 col-sm-12 col-md-12 col-xs-12 p-5">
			<div class="links mr-2 mt-2 mb-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'moderators:news' %}">Новости</a>
			</div>
			<div class="links m-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'moderators:create_grant' %}">Гранты</a>
			</div>
			<div class="links m-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'moderators:gzs' %}">ГЖС</a>
			</div>
			<div class="links m-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'moderators:moder_guests' %}">Модерация</a>
			</div>
			<div class="links m-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'moderators:add_new_guests' %}">Пользователи</a>
			</div>
            <div class="links ml-2 mt-2 mb-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'moderators:create_institute' %}">Институты</a>
			</div>
		</div>
	</div>