{% extends 'base.html' %}
{% load static %}

{% block title %}{{content.title}}{% endblock %}
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}
<!-- IconFont and Stylesheet -->
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <style>
      /* Add any additional styles for your carousel container here */
      .carousel-container {
        width: 80%;
        margin: auto;
      }
  
      /* Style for individual carousel items */
      .carousel img {
        width: 100%;
        height: auto;
      }
    </style>
   <style>
      /* Add any additional styles for your carousel container here */
      .carousel-container {
        width: 100%;
        height: 500px;
        margin: auto;
        black;
        border-radius:10px;
      }
  
      /* Style for individual carousel items */
      .carousel img {
        width: 100%;
        height: 500px;
        object-fit:cover;
        border-radius:10px;
      }
      .carosuel_no_show{
        display:none;
      }
    </style>
{% endblock %}
<!--//-->

{% block content %}
    
    {% include "navbar.html" %}



    <div class="plates_home main_plate container plate-container">

            <div class="mt-5 mb-5 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="mt-5 plates" style="border-radius:0px;">

                
                    <figure class="news-card">

                        {% if img.url_path %}
                        <div class="framenews" id="myModalbtn{{content.id}}" data-target="#myModal{{content.id}}" style="border:none; background-image: url('/media/{{img.url_path}}'); background-size:cover">
                          
                                <fieldset style=>
                                    <div class="function"><br>       
                                    </div>
                                </fieldset>
                          
                        </div>
                        {% endif %}
    
                            <div class="container news-sec" style="background-color:white">
                              <div class="date"><span class="day">{{content.pub_date.day}}</span><span class="month">{{month}}</span></div>
                              <h2 class="text_compress limit" >{{content.title}}</h2>
                                <hr>
                            </div>

                            <div class="container news-sec limitp rounded" style="background-color:white; margin-top:-2em">
                            <p>{{content.text | safe}}</p>
                            </div>
                       
                    </figure>
                </div>
                {% if content.link %}
                    <a href="{{content.link}}" class="readmore-btn">Комментировать в телеграме</a>
                {% else %}
				    <a href="#" class="readmore-btn">Комментировать в телеграме</a>
                {% endif %}
            </div>        
        </div>

       




    {% include "footer.html" %}

    <!-- Javascript Inc-->
    <script src="{% static 'js/nav-bar.js' %}"></script>
{% endblock %}
