:root{
    --nav-bg: #6996D3;
    --nav-btn-bg: #284C7E;
    --dark: #131418;
    --grey-bg: #D2D2D2;
}

*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body{
    overflow-x: hidden;
}

nav{
    height: 4rem;
    width: 100%;
    background-color: var(--nav-bg);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 6vw;
    text-align: center;
}
.logo img {
    height: 8rem;
    width: 8rem;
    
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 60vw;
    max-width:100%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.8vw;
    background-color: var(--nav-btn-bg);
    padding: 8px 15px;
    border-radius:10px;
    color:whitesmoke;
    transition: all ease-in-out 250ms;
}
.nav-links li a:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: var(--dark);
    transition: all ease-in-out 250ms;
}
.nav-links li {
    position: relative;
}


/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
  
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.div-semi-circle { 
    position: fixed;
    top: 15%; 
    left: 0%; 
    transform: translate(-50%, -50%); 
    height: 12em; 
    width: 38em; 
    border-radius: 0 0 550px 150px; 
    background-color: var(--nav-bg) ;
    border:8px solid white;
} 
.div-semi-circle-smaller { 
    position: fixed; 
    top: 15%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
    height: 5em; 
    width: 20em; 
    border-radius: 0 0 550px 150px; 
    background-color: var(--nav-bg);

} 


.plates{
    background-color: whitesmoke;
    border-radius:17px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
}
.plates_home{
    padding-top:9em;
    padding-bottom:4em;
}

#first_plate{
    border-radius:20px;
    border-top:2px solid white;
   
    
}

.ScrollBar{
    overflow-y: scroll;
    max-height: 835px;
    text-align: center;
    scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}


/* Scrollbar for News page div */
.ScrollBar::-webkit-scrollbar {
    width:6px;
}
.ScrollBar::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.ScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--nav-bg);
}


/* Page footer Style */
.footer {
	background-color: #151515;
	padding: 80px 0;
    bottom:0;
}

.container {
	max-width: 1170px;
	margin: auto;
    flex:1;
    
}
.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--nav-bg);
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
/*---//---*/