:root{
    --nav-bg: #6996D3;
    --nav-btn-bg: #284C7E;
    --footer-bg: #05316D;
    --dark: #131418;
    --grey-bg: #D2D2D2;
    --purple-bg: #A690D3;
    --light-blue-bg: #35C0CD;
    --seal-bg: #1E6D74;
}

*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body{
    overflow-x: hidden;
    z-index:1;
    zoom:90%;
}

.container-custom{
    width: 100%;
    padding-right: 4em;
    padding-left: 4em;
    margin-right: auto;
    margin-left: auto;
}
  
.navbar {
    width:100%;
    background-color: var(--nav-bg);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position:fixed;
    z-index:2;
  }
  .navbar .dropdown .dropdown-menu {
    margin-top: 0;
    border-top: none;
    border-radius: 0;
  }
  @media (min-width: 768px) {
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
    .dropdown .dropdown-toggle::after {
      display: none;
    }
    .dropdown .dropdown-toggle:active {
      pointer-events: none;
    }
  }
  @media (max-width: 768px) {
    .navbar {
      padding: 8px 16px;
    }
    .navbar .dropdown .dropdown-toggle {
      padding: 0 10px;
      line-height: 40px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .container-custom{
        width: 100%;
        padding-right: 2em;
        padding-left: 2em;
        margin-right: auto;
        margin-left: auto;
    }
  }

  .navbar ul {
    text-align: center;
 }
 
 .navbar ul li a{
    display: inline-block;
    color:white;
    text-transform: uppercase;
    padding: 8px 15px;
    margin: 0 0.8vw;
    border-radius:10px;
    /*background-color: var(--nav-btn-bg);*/
  
 }
 .logo{
    padding:0.5vh 9vw;
    text-align: center;
}
.logo img {
    height: 3.3rem;
    width: 3.3rem;
    
    
}

.col-lg-grant {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.333333%;
    flex: 0 0 4.333333%;
    max-width: 4.333333%;
  }

.col-lg-main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 2.333333%;
    flex: 0 0 2.333333%;
    max-width: 2.333333%;
  }

.plates{
    background-color: whitesmoke;
    border-radius:17px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
}
.plates_home{
    padding-top:6em;
    padding-bottom:4em;

}
.plate-container {
	max-width: 1500px;
    margin:auto;
    flex:1;
    
}

#first_plate{
    border-radius:20px;
    border-top:2px solid white;
   
    
}

.institute-right-div{
    background-color: var(--purple-bg);
 
}
.news-left-first-div{
    background-color: var(--seal-bg);
    color:var(--seal-bg);
}

.news-left-div{
    background-color: var(--light-blue-bg);
    color:var(--light-blue-bg);
}

.ScrollBar{
    overflow-y: scroll;
    max-height: 1735px;
    text-align: center;
    scrollbar-color: var( --light-blue-bg) #e0e0e0;
  scrollbar-width: thin;
}


/* Scrollbar for News page div */
.ScrollBar::-webkit-scrollbar {
    width:6px;
}
.ScrollBar::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.ScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--nav-bg);
}




/* LOG IN FORMS */
.field{
    background-color: var(--dark);
    color:whitesmoke;
    padding:8px 15px;
    border:none;
    margin-top:10px;
}
.login-btn{
    padding:8px 10px;
    background-color: var(--light-blue-bg);
    border:none;
    color: var(--dark);
    margin-top:10px;   
    margin-left:30%;
    margin-right:30%;
}




/* Page footer Style */
.footer {
	background-color: var( --footer-bg);
	padding: 80px 0;
    bottom:0;
    z-index:-1;
}

.container {
	max-width: 1170px;
	margin: auto;
    flex:1;
    
}
.row {
	display: flex;
	flex-wrap: wrap;
    z-index:-1;
}
ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {

    color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--nav-bg);
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
/*---//---*/




