<!DOCTYPE html>
<html lang="zxx">

{% load static %}

<head>
    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/login_static/css/login_style.css' %}" type="text/css" media="all" />

    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

</head>

<body>

	<script>
		  $(document).ready(function(){
			$('#myForm').submit(function(e){
			  e.preventDefault(); // Предотвращение стандартного поведения формы
			  var formData = $(this).serialize(); // Получение данных формы
			  $.ajax({
				type: 'POST',
				url: 'обработчик', // Замените на URL вашего обработчика формы
				data: formData,
				success: function(response){
				  // Обработка ответа от сервера
				  console.log(response); // Пример: вывод ответа в консоль
				}
			  });
			});
		  });
</script>
    <div class="signinform">

        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>вход в систему</h2>
                    <form action="" method="post">

                        {% csrf_token %}

                        {% if form.errors %}
                          <p class="error-message">Неверное имя пользователя или пароль</p>
                        {% endif %}

                        <div class="input-group">
                            <span><i class="icon fas fa-user" aria-hidden="true"></i></span>
                            {{ form.username }}
                        </div>
                        <div class="input-group">
                            <span><i class="icon fas fa-key" aria-hidden="true"></i></span>
                            {{ form.password }}
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">вход</button>
                    </form>

                    
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->

    
    </div>

    <!-- fontawesome v5-->
    <script src="{% static '/login_static/js/fontawesome.js' %}"></script>

</body>

</html>
