	<div class="plates_home container-custom plate-container">
		<div class="Navbar_Moder plates col-lg-12 col-sm-12 col-md-12 col-xs-12 p-5">
			<div class="links mr-2 mt-2 mb-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'representatives:news' %}">Новости</a>
			</div>
			<div class="links m-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'representatives:create_scientist' %}">Учёные</a>
			</div>
<!--            <div class="links ml-2 mt-2 mb-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">-->
<!--				<a class="stretched-link" href="{# url 'representatives:create_institute' #}">Институты</a>-->
<!--			</div>-->
<!--			<div class="links m-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">-->
<!--				<a class="stretched-link" href="{# url 'representatives:create_new_grant' #}">Гранты</a>-->
<!--			</div>-->
			<div class="links ml-2 mt-2 mb-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
				<a class="stretched-link" href="{% url 'representatives:upload_doc' %}">Документы</a>
			</div>
		</div>
	</div>