{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}
<!-- IconFont and Stylesheet -->
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
   
{% endblock %}
<!--//-->
{% block content %}


    {% include "navbar.html" %}

    <div class="plates_home main_plate container-custom plate-container ">
       
        <div class="row">
            <div class="col-lg-main col-sm-12 col-md-12 col-xs-12"></div>
				<div class="ScrollBar Scroll_dock mt-3 plates rounded col-lg-3 col-sm-12 col-md-12 col-xs-12">
					<div class="  mt-5 mb-5">
						<div class="container">
							
							<div class="list-group">
								
								<div class="categories_here">Категории</div>
								<a href="" class="catbtn-all rounded mt-1 list-group-item list-group-item-action link-item" data-doc="#doc-content">Все категории</a>
								
								{% if categories %}
								
									{% for c, content, id in categories %}
								       <a href="#" class="catbtn limit rounded mt-1 list-group-item list-group-item-action link-item" data-doc="#doc-content{{c|cut:" "}}">{{c}} </a>
								   
										<div id="doc-content{{c|cut:' '}}" style=" display: none;">
											<h2 class="limit">{{c}}</h2>
											<div class="container  limitp" style="border:2px solid silver; padding:15px; background-color: white; ">
												<h3 style="text-align:left">Название документа</h3>
											</div>
											<div class="container doclinks doc_text_limit">
												{{content | safe}}
											</div>

										</div>
									
								    {% endfor%}

								{% else %}



								{% endif %}

								

							</div>

							<div class="result"></div>				
						</div>
						</div>
					</div>

            <div class="col-lg-main col-sm-12 col-md-12 col-xs-12"></div>

			<!-- DONT TEMPER WITH THIS SECTION -->
            <div class="ScrollBar Scroll_dock mt-3 plates rounded col-lg-8 col-sm-12 col-md-12 col-xs-12" style="background-color:white">
                <div id="doc-container">
				
					<h2>Все документы</h2>
					
				{% if categories %}
					<div class="container  limitp" style="border:2px solid silver; padding:15px; background-color: white; ">
						<h3 style="text-align:left">Название документа</h3>
					</div>
					
						{% for c, content, id in categories %}
							<div class="container doclinks doc_text_limit d-flex flex-row">
								<div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
									{{content | safe}}
								</div>
								<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 d-flex align-self-center">
									{% if user.is_authenticated %}
									  {% if is_moder or user.is_superuser %}
										  <a href="/delete/doc/{{ id }}" class="btn-del">удалить</a>
									  {% endif %}
									{% endif %}
								</div>
							</div>
						{% endfor %}
						
					  </table>
				{% else %}
					<div class="container plates" style="background-color:white; margin-top:-7em; margin-bottom:7em; max-width:700px">
					<h4 style="margin-top:15em; line-height:22px; font-family:Arial,Helvetica,sans-serif; padding:5em; color: grey; text-align: center;">документы не найдены</h4>
					<h1 style="margin-top:-1em; color:white; background-color: rgba(146,0,0,0.5); text-align: center;" class="rounded"><i class="fa fa-exclamation-triangle" style="margin: 0 auto;"></i></h1><br/>
					</div>
				{% endif%}	  
					  

					
				</div>
            </div> 
			<!-- DONT TEMPER WITH THIS SECTION -->
			     
        </div>
    </div>
        
	<script>
		$(document).ready(function() {
		
		  $(".link-item").on("click", function() {
			const docContentId = $(this).data("doc");
			const docContent = $(docContentId).html();
			$("#doc-container").html(docContent);
		  });
		});
	  </script>

  
    
	 
	 
    {% include "footer.html" %}

{% endblock %}