{% extends 'base.html' %}
{% load static %}

{% block title %}Responsive Animated Navbar{% endblock %}
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}
<!-- IconFont and Stylesheet -->
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
<!--//-->

{% block content %}
    
    {% include "navbar.html" %}

    <!--Top side semi-circle design-->
    <div class="d-none d-sm-block div-semi-circle"></div> 
    <div class="d-none d-sm-block div-semi-circle-smaller"></div>
    <div class="d-none d-sm-block div-semi-circle-ontop"></div>  
    <!--//-->


    <div class="plates_home main_plate container-custom plate-container">

        {% for i, img in institutes %} <!--This loop repeats the div below exactly 9 times-->
        <div  id="first_plate" class="mt-5 plates mb-5 col-lg-12 col-sm-12 col-md-12 col-xs-12 position-relative">
            <div class="row container-custom">
                <div class="mt-4 mb-4 c col-lg-9 col-md-9 col-sm-8 col-xs-8">
                    <div class="row">
                   
                        <div class="col-lg-11 col-md-11S col-sm-12 rounded" style="">
                            <h3 style="color:var(--nav-bg); font-size:14px">{{i.name}}</h3><hr style="color:silver">
                            <div class="mt-2">
                                <p style="color:black">{{i.description}}</p>
                            </div>
                            
                            <div class="mt-4">
                                <h3 style="color:var(--nav-bg); font-size:14px">Количество сотрудников<span style="color:black">: {{i.employees_count}}</span></h3><hr style="color:silver">
                            </div>

                            <div class="mt-4">
                                <h3 style="color:var(--nav-bg); font-size:14px">Количество молодых учёных<span style="color:black">: {{i.scientist_count}}</span></h3><hr style="color:silver">
                            </div>

                            <div class="mt-4">
                                <h3 style="color:var(--nav-bg); font-size:14px">ФИО председателя<span style="color:black">: {{i.chairman}}</span></h3><hr style="color:silver">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-4 mb-4 rounded col-lg-3 col-md-3 col-sm-4 col-xs-4 institute-right-div">
                    <div class="text-center mt-3 mb-3">
                        {% if img %}
                            <img src="/media/{{img.url_path}}" class=" img-fluid"  style=" border:4px solid black" width="100%" alt="{{img.alt}}">
                        {% else %}
                            <img src="https://marketplace.canva.com/EAFCh_1S8lw/2/0/400w/canva-gold-and-black-luxury-estate-agency-logo-J8_Ruw9_2Zw.jpg" class=" img-fluid"  style=" border:4px solid black" width="100%" alt="...">
                        {% endif %}
                    </div>
                </div>
            </div>
            <a class="stretched-link" href="{% url 'info:institute_info' i.id %}"></a>
        </div>
        {% endfor %}
<!--        <div  id="first_plate" class="mt-5 plates mb-5 col-lg-12 col-sm-12 col-md-12 col-xs-12 position-relative">-->
<!--            <div class="row container-custom">-->
<!--                <div class="mt-4 mb-4 c col-lg-9 col-md-9 col-sm-8 col-xs-8">-->
<!--                    <div class="row">-->
<!--                   -->
<!--                        <div class="col-lg-11 col-md-11S col-sm-12 rounded" style="">-->
<!--                            <h3 style="color:var(&#45;&#45;nav-bg); font-size:14px">Описание гранта</h3><hr style="color:silver">-->
<!--                            <div class="mt-2">-->
<!--                                <p style="color:black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>-->
<!--                            </div>-->
<!--                            -->
<!--                            <div class="mt-4">-->
<!--                                <h3 style="color:var(&#45;&#45;nav-bg); font-size:14px">Количество сотрудников<span style="color:black">: 2000</span></h3><hr style="color:silver">-->
<!--                            </div>-->

<!--                            <div class="mt-4">-->
<!--                                <h3 style="color:var(&#45;&#45;nav-bg); font-size:14px">Количество молодых учёных<span style="color:black">: 2000</span></h3><hr style="color:silver">-->
<!--                            </div>-->

<!--                            <div class="mt-4">-->
<!--                                <h3 style="color:var(&#45;&#45;nav-bg); font-size:14px">ФИО председателя<span style="color:black">: Фамилия Имя Отчество</span></h3><hr style="color:silver">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mt-4 mb-4 rounded col-lg-3 col-md-3 col-sm-4 col-xs-4 institute-right-div">-->
<!--                    <div class="text-center mt-3 mb-3">-->
<!--                        <img src="https://marketplace.canva.com/EAFCh_1S8lw/2/0/400w/canva-gold-and-black-luxury-estate-agency-logo-J8_Ruw9_2Zw.jpg" class=" img-fluid"  style=" border:4px solid black" width="100%" alt="...">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <a class="stretched-link" href="{% url 'info:institute_info' 1 %}"></a>-->
<!--        </div>-->
    </div>


    {% include "footer.html" %}

    <!-- Javascript Inc-->
    <script src="{% static 'js/nav-bar.js' %}"></script>
{% endblock %}
