{% extends 'base.html' %}
{% load static %}

{% block title %}Новости и мероприятия{% endblock %}
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}
<!-- IconFont and Stylesheet -->
{% block link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
{% endblock %}
<!--//-->
{% block content %}

    {% include "navbar.html" %}

        <div class="plates_home main_plate container-custom plate-container ">
          <div class="row">
            <div class="col-lg-main col-md-12 col-sm-12"></div>
            <div  style="margin-top:3em; color:none; border-top:5px solid var(--nav-bg)" class="plates rounded col-lg-3 col-sm-12 col-md-12 col-xs-12">
                <div style="margin-top:10em; color:none;">
                    <form method="POST" action="{% url 'main' %}">
                        {% csrf_token %}
                        <div class="mt-5 mb-5 rounded col-lg-12 col-md-12 col-sm-12 col-xs-12 news-left-div" style="background-color:whitesmoke">
                          <input type="date" value="{{sdate}}" name="start-date" >
                          <input type="date" value="{{edate}}" id="date" class="mt-3" name="end-date" > 
                            <button type="submit" class="filter-btn">Фильтровать</button>
                        </div>
                    </form>
                  <div class="mt-5 mb-5 rounded col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="news-left-div container rounded">
                      <h2 style="color:whitesmoke" class="text-center pt-2">Мероприятия</h2>
                      <hr>
                    </div>
                    {% if events %}
                        {% for e, text in events %}
                        <div class="mt-3 event-card rounded ">
                          <h3>

                            {{ e.title |default_if_none:""|slice:":50" }}{% if e.title|length > 50 %}...{% endif %}
                          </h3>

                          <div class="mt-3 container">
                            <p style="float:left; margin-right:7em">{{e.begin_date}}</P>

                            <p>{{e.end_date}}</P>

                            <hr style="color:black">
                            <p>{{text}}</p>
                          </div>
						  <a href="#" class="stretched-link"></a>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="container plates" style="margin-top:-12em; max-width:700px">
                        <h4 style="margin-top:15em; line-height:22px; font-family:Arial,Helvetica,sans-serif; padding:5em; color: grey; text-align: center;">Мероприятия не найдены</h4>
                        <h1 style="margin-top:-1em; color:white; background-color: rgba(146,0,0,0.5); text-align: center;" class="rounded"><i class="fa fa-exclamation-triangle" style="margin: 0 auto;"></i></h1><br/>
                        </div>
                    {% endif %}
                  </div>
                <!--
                <div class="mt-5 mb-5 rounded col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="news-left-div container rounded">
                      <h2 style="color:whitesmoke" class="text-center pt-2">активные гранты</h2>
                      <hr>
                    </div>

                    <div class="mt-3 grant-card rounded ">
                      <h3> </h3>
                     
                      <div class="mt-3 container">
                        <p style="">Название</P>
                   
                      
                        <hr style="color:black">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,  </p>
                      
                      </div>
                    </div>


                  </div> -->



                  
                </div>
               
            </div>
            <div class="col-lg-main col-md-12 col-sm-12"></div>
            
            <div class="ScrollBar col-lg-8 col-sm-12 col-md-12 col-xs-12">
              <div>
                {% if last_news %}
                  {% for type, n, m, text, img in last_news.object_list %}

                  {% if type == 'news' %}
                      <div id="{{n.id}}n" class="mt-5 plates" style="border-radius:0px;">
                  {% else %}
                      <div id="{{n.id}}e" class="mt-5 plates" style="border-radius:0px;">
                  {% endif %}
                      <figure class="news-card">
                      
                        {% if img.url_path %}
                        <div class="frame" id="myModalbtn{{n.id}}" data-target="#myModal{{n.id}}" style="background-image: url('/media/{{img.url_path}}'); background-size:cover">
                    
                              <!--Image preview popup-->
                              <div id="myModal{{ n.id}}" style="width:100%" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-body">
                                          <img src="/media/{{img.url_path}}" width="100%" class="img-responsive">
                                          <a download="custom-filename.jpg" class="mt-4 btn btn-primary" href="/media/{{img.url_path}}" title="{{n.title}}" style="float:left;">
                                            Скачать
                                          </a>
                                        </div>  

                                        {% block script %}
                                          <script>
                                              // Javascript code for displaying image modal on news double click
                                              try {
                                                  $('#myModalbtn{{ n.id }}').dblclick(function () {
                                                      $('#myModal{{ n.id }}').modal('toggle');
                                                  });
                                              } catch (error) {
                                                  console.error(error);
                                              }
                                          </script>
                                        {% endblock %}

                                  </div>
                                </div>
                              </div>
                               <!--Image preview popup-->
                            <div >
                                <fieldset>
                                    <div class="function"><br>
                                       
                                    </div>
                                </fieldset>
                            </div>
                          </div>
                          {% else %}
                            <br>
                        {% endif %}

                          <div class="container news-sec">
                            <div class="date"><span class="day">{{n.pub_date.day}}</span><span class="month">{{m}}</span></div>
                            <h2 class="text_compress limit" >{{ n.title |default_if_none:""|slice:":100" }}{% if n.title|length > 100 %}...{% endif %}</h2>
                              <p class="limitp">{{text}}</p>
                              <hr>
                              <div class="mt-4">
                              {% if type == 'news' %}
									<a href="{% url 'news:newspage' n.id %}" class="readmore-btn">Прочитать</a>
                              {% else %}
									<a href="{% url 'news:eventpage' n.id %}" class="readmore-btn">Прочитать</a>
                              {% endif %}

                              {% if n.link %}
                                  <a href="{{n.link}}" class="readmore-btn">Комментировать в телеграме</a>
                              {% else %}
                                  <a href="#" class="readmore-btn">Комментировать в телеграме</a>
                              {% endif %}

                              {% if user.is_authenticated %}
                                  {% if is_moder or user.is_superuser %}
                                      <a href="{% url 'delete_news' type n.id %}" class="readmore-btn">Удалить</a>
                                  {% endif %}
                              {% endif %}

                              </div>
                          </div>
                    
                      </figure>
                    </div>

                  {% endfor %}
                          
                {% else %}
               
                    <div class="container plates mt-5 " style="max-width:700px">
                    <h4 style="margin-top:15em; line-height:22px; font-family:Arial,Helvetica,sans-serif; padding:5em; color: grey">Новости или мероприятия не найдены</h4>
                    <h1 style="margin-top:-1em; color:white; background-color: rgba(146,0,0,0.5)" class="rounded"><i class="fa fa-exclamation-triangle "></i></h1><br/>
                    </div>
             
                {% endif %}
            </div>
            
          </div> 

          
      </div>
    </div>


    {# Block for pagination#}
    {% if last_news %}
      <div class="plate-container " style="margin-top:-2em">
        <div class="row">
          <div class="col-lg-main col-md-12 col-sm-12"></div>
          <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12"></div>
             
          <div class="col-lg-main col-md-12 col-sm-12"></div>
          
          <div class="mb-5 col-lg-8 col-sm-12 col-md-12 col-xs-12">
          
              <div>
                <nav class="container" aria-label="...">
                  <ul class="pagination">
                    
                  {% if last_news.has_previous %}
                      {# whether the previous page exists #}
                      {# link to the prev page #}
                      
                        <li class="page-item ">
                          <a class="page-link" href="?page={{last_news.previous_page_number}}" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{last_news.previous_page_number}}">{{last_news.previous_page_number}}</a></li>

                  {% else %}
                      {# If previous page does not exist  #}
                      {# Disaplay a disabled link  #}
                      <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1">Previous</a>
                      </li>
                  {% endif %}
  
                  <li class="page-item active">
                    <a class="page-link" href="#">{{last_news.number}} <span class="sr-only">(current)</span></a>
                  </li> {# the current page number #}
  
                  {% if last_news.has_next %} {# whether the next page exists #}
                      {# link to the next page #}
                          <li class="page-item"><a class="page-link" href="?page={{last_news.next_page_number}}">{{last_news.next_page_number}}</a></li>
                          <li class="page-item">
                            <a class="page-link" href="?page={{last_news.next_page_number}}">Next</a>
                          </li>
                    {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Next</a>
                        </li>
                  {% endif %}
  
                  </ul>
                </nav>
              </div>
             
          </div>
          
        </div>  
      </div>

      {# Block for pagination#}
    {% endif %}


    {% include "footer.html" %}

        </div>
{% endblock %}