{% load static %}
<nav class="navbar navbar-expand-lg">

    <div class="logo">
        <a href="{% url 'main' %}"> 
            <img src="{% static 'img/logo_fefu.png' %}" alt="Logo Image">
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon" style="color:white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main' %}">Главный</a><span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'info:grant' %}">Гранты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'info:institutes' %}">институты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'documents:index' %}">документы</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'info:organization' %}">Об организации</a>
            </li>

           
            <!--
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news:index' %}">Новости</a>
            </li> -->
            
            
          
        
       </ul>
    </div>

 </nav>