{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
    
    <img src="{% static 'img/logo_smu_transparent.png' %}"  class="d-none d-sm-block" style="margin-left:25px; margin-right:25px; height:60px; width:60px;" alt="Logo Image">
    <h3 class="mt-1  text-white text d-none d-sm-block" style="font-size:18px; margin-right:25px"> СМУ ДВО РАН </h3>
    
    <!--For extra small screens-->
    <img src="{% static 'img/logo_smu.png' %}"  class="d-block d-sm-none" style="margin-left:25px; margin-right:25px; height:40px; width:40px;" alt="Logo Image">
    <h3 class="mt-1  text-white text d-block d-sm-none" style="font-size:12px; margin-left:-25px; margin-right:3px"> СМУ ДВО РАН </h3>
    <!--For extran small screens-->

    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"  style="" >
        <span class="navbar-toggler-icon" style="color:red;" ></span>
    </button>

    <div class="container-lg">
       

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news:index' %}">Новости</a><span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'info:grant' %}">Гранты</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'info:institutes' %}">Институты</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'documents:index' %}">Документы</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'info:gzs' %}">ГЖС</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'info:organization' %}">Об организации</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    {% if is_moder or user.is_superuser %}
                    <a class="nav-link" href="{% url 'moderators:news' %}">Профиль</a>
                    {% elif is_repr %}
                    <a class="nav-link" href="{% url 'representatives:news' %}">Профиль</a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>